.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
::-webkit-scrollbar {
  width: 5px;  
}

/* Dikey scrollbar'ın izdüşümü (gölgesi) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* scrollbar izdüşümü rengi */
}

/* Scrollbar çubuğu (kaydırma kolu) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* scrollbar çubuğu rengi */
  border-radius: 5px; /* scrollbar çubuğunun köşe yarıçapı */
}

/* Kaydırma kolu üzerine gelindiğinde */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* scrollbar çubuğu rengi */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
